body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #99777a;
}

.page-width {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    min-height: 100vh;
}

.logo {
    margin: 25px auto 25px auto;
    width: 200px;
    height: 200px;
}

.logo img {
    width: 200px;
    height: 200px;
}

.page-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: calc(100% - 250px);
}

#page {
    background-color: rgb(238, 238, 238);
    width: calc(100% - 64px);
    height: 100%;
    padding: 16px 32px 16px 32px;
    line-height: 1.5;
    font-family: sans-serif;
    z-index: 2;
}

.page-button-container {
    display: flex;
}

.page-button {
    display: block;
    background-color: black;
    margin-left: 16px;
    text-decoration: none !important;
    z-index: 1;
}

.page-button:hover {
    position: relative;
    left: 2px;
    top: 2px;
}

.page-button-inner {
    background-color: rgb(238, 238, 238);
    height: 20px;
    margin-top: 6px;
    margin-left: 6px;
    padding: 4px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.page-button[href$="/"] .page-button-inner {
    background-color: #e40303;
}

.page-button[href$="/vision"] .page-button-inner {
    background-color: #ff8c00;
}

.page-button[href$="/articles-of-association"] .page-button-inner {
    background-color: #ffed00;
}

.page-button[href$="/board"] .page-button-inner {
    background-color: #058d2d;
}

.page-button[href$="/history"] .page-button-inner {
    background-color: #1E62FF;
}

/**
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 777 480">
	<rect fill="#750787" width="777" height="480"/>
	<rect fill="#004dff" width="777" height="400"/>
	<rect fill="#008026" width="777" height="320"/>
	<rect fill="#ffed00" width="777" height="240"/>
	<rect fill="#ff8c00" width="777" height="160"/>
	<rect fill="#e40303" width="777" height="80"/>
</svg>
 */

#page ol, .content ul {
    padding-left: 24px;
}

#page p, .content pre {
    text-align: justify;
}

#page .draft-notice {
    font-weight: bold;
    color: #444;
}

#page hr {
    height: 2px;
    margin-top: 32px;
    margin-bottom: 32px;
    border: none;
    background-color: #333;
}

#page table {
    border: solid 1px #000;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    max-width: calc(1050px - 64px);
}

#page thead {
    border-bottom: solid 1px #000;
    background-color: #ddd;
}

#page tr:nth-child(even) {
    background-color: #ddd;
}

#page th, .content td {
    padding: 8px;
}

#page pre {
    margin: 0;
    padding: 32px;
    background-color: #333;
    color: white;
    overflow-x: auto;
}

@media screen and (max-width: 550px) {
    #page pre {
        padding: 16px;
    }
}

#page code {
    border-radius: 3px;
    background-color: #333;
    color: white;
}

h1, h2, h3, h4, h5 {
    margin: 16px 0 8px 0;
    line-height: 1.3;
}

h1:target, h2:target, h3:target, h4:target, h5:target {
    background: yellow;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
    border-bottom: solid 1px;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.2em;
    font-weight: normal;
}
